<nav>
  <div class="nav-container">
    <div class="auth-container">
              <div class="nav-logo"><img src="../../assets/loadpointLogo.png" alt="Logo"></div>
  </div>
      <div class="nav-items">
          <div class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</div>
          <div class="nav-item" routerLink="/todo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Todo</div>
      </div>

      <div class="auth-container">
          <amplify-authenticator>
              <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
                  <button class="nav-item" (click)="signOut()">Sign Out</button>
              </ng-template>
          </amplify-authenticator>
      </div>
  </div>
</nav>
